/*  . = class,    # = id, nothing before it when its an element of the code */

/* === THIS ADJUSTS THE BASIS OF EVERYTHING === */
* {
    margin: 0;
}

html {
  font-family: "Eczar";
}

/* HEADER */
header h1 {
  text-align: center;
  font-size: 50px;
  background-color: #394648;
  color: white;
}

/* === MENU STARTS HERE === */

/* Centers the content and more */
.menu-bar {
  display: flex;
  justify-content: center;
  background-color: #A1393C;
  }
  
.menu-bar a {
  float: left;
  color: #130f0f;;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
  font-weight: 500;
  }
  
 /* Positions the dropdown menu below the parent */ 
.dropdown-recipes {
    position: relative;
    display: inline-block;
  }
 
  
 /* What happens when you hover over it */ 
.menu-bar a:hover, .dropdown-recipes:hover .menu-recipes {
    background-color: azure;
    box-shadow: inset 0px -20px 24px -33px #000000;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: azure;
    min-width: 160px;
    box-shadow: 0px 10px 16px 0px rgba(17, 17, 17, 0.2);
  }
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdown-content a:hover {
    background-color: #5ba6d8;
  }
  
 /* Puts the correct dropdown over the menu */ 
.dropdown-recipes:hover .dropdown-content {
    display: block;
  }

/* === MENU ENDS HERE === */

body {
    background-color: white;
}

/* UNDER CONSTRUCTION TEXT */
.construction {
  font-size: 100px;
  text-align: center;
}

/* FOOTER */
footer  {
  border-top: 1px solid black;
  margin: 10px auto;
  text-align: center;
  width: 35vw;
}