/*  . = class,    # = id, nothing before it when its an element of the code */

/* === EVERYTHING === */
* {
    margin: 0;
}

.title {
    text-align: center;
    background-color: azure;
}
/* === MENU === */
.menu-bar {
    background-color: rgb(151, 226, 226);
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    border-top: 1px solid black;
    padding-bottom: 5px;
}

.menu-list {
    list-style: none;
    display: inline-block;
}

.menu-link {
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin-right: 25px;
    font-weight: 800;
    text-transform: uppercase;
    transition: all 0.1s ease-in-out;
}

.menu-link:hover {
    text-decoration: underline;

}

/* === EVERYTHING IN THE BODY === */

body {
    background-image: url(assets/images/Wooden-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/* === RECIPES === */

.food-name {
    text-align: center;
    font-size: 40px;
}

.resepti {
    background-color: white;
    border-radius: 5%;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    padding: 5px 30px;
    box-shadow: inset 5px 5px 5px grey;
    margin: 20px auto;
    width: 60vw;
}

#ol-recipe li {
    display: inline-block;
}

#center {
    font-style: bold;
    text-align: center;
}

/* === TABLE IN RECIPE === */

#table-col-1 {
    width: 60px;
}

#table-col-2 {
    width: 150px;
}

table {
    width: 800px;
}

table,
tr,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 1px auto;
}

#table-title {
    text-align: center;
}