/*  . = class,    # = id, nothing before it when its an element of the code */

@import url(../styles/menu-styles.css);
@import url(../styles/footer-styles.css);
@import url(../styles/global.css);

body {
  background-image: url(../assets/images/black_sand.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

/* === TV SHOW LIST === */

/* The box that contains it all */
.list_TV {
  border: 5px solid #1ba098;
  border-radius: 25px;
  padding: 10px 20px 20px 10px;
  margin: 20px auto;
  width: 65vw;
  font-size: 19px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: blur(5px);
  overflow: hidden;
}
.list_TV section {
  align-self: center;
}

/* Just the TV show title */
.list-name {
  font-size: 50px;
  font-weight: 600;
  color: #1ba098;
  margin: 10px 20px 20px;
}

/* === TABLE FOR TV SHOWS === */

/* LAST WATCHED */
#table-col-2 {
  width: 15rem;
}

/* COMMENTS */
#table-col-3 {
  width: 10rem;
}

/* IMDB */
#table-col-4 {
  width: 5rem;
}

tbody a {
  margin: 5px;
  display: flex;
  justify-content: center;
}

table {
  width: 50vw;
}

th {
  font-size: 25px;
}

table,
tr,
th,
td {
  border: 2px solid #1ba098;
  border-collapse: collapse;

}

/* Adds a hover to the table rows */
tbody tr:hover {
  background-color:#354645;
}
