/* === MENU STARTS HERE === */

/* Centers the menu and stuff */

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}
.menu-bar {
    display: flex;
    justify-content: center;
    background-color: #051622;

  }
  
.menu-bar a {
    float: left;
    color: #1ba098;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
  }

  
 /* Positions the dropdown menu below the parent */ 
.dropdown-recipes {
    position: relative;
    display: inline-block;

  }
 
  
 /* What happens when you hover over it */ 
.menu-bar a:hover, .dropdown-recipes:hover .menu-recipes {
    background-color: #d8c6b3;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color:#051622;
    min-width: 160px;
  }
  
.dropdown-content a {
    float: none;
    color: #1ba098;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdown-content a:hover {
    background-color: #d8c6b3;
  }
  
 /* Puts the correct dropdown over the menu */ 
.dropdown-recipes:hover .dropdown-content {
    display: block;
  }

/* === MENU ENDS HERE === */
